:root{

--bg:#090909;

--card:#171717;

--card2:#222;

--yellow:#FFD200;

--white:#fff;

--gray:#bdbdbd;

--border:#303030;

--radius:18px;

}

*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:var(--bg);

font-family:Inter,sans-serif;

color:white;

}

a{

text-decoration:none;

color:inherit;

}

img{

display:block;

max-width:100%;

}
.topbar{

width:95%;

max-width:1300px;

margin:auto;

height:90px;

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

height:60px;

}

.back-btn{

background:#222;

padding:14px 22px;

border-radius:12px;

transition:.3s;

}

.back-btn:hover{

background:var(--yellow);

color:black;

}
.profile{

width:95%;

max-width:1300px;

margin:30px auto;

display:grid;

grid-template-columns:380px 1fr;

gap:40px;

align-items:start;

}
.photo-box{

background:var(--card);

border-radius:20px;

overflow:hidden;

border:1px solid var(--border);

}

#player-photo{

height:470px;

display:flex;

justify-content:center;

align-items:center;

background:#202020;

}

#player-photo img{

width:100%;

height:100%;

object-fit:cover;

}

.avatar{

width:180px;

height:180px;

border-radius:50%;

background:var(--yellow);

color:black;

font-size:80px;

font-weight:bold;

display:flex;

justify-content:center;

align-items:center;

}

.basic-card{

margin-top:25px;

background:var(--card);

padding:25px;

border-radius:20px;

border:1px solid var(--border);

}

.basic-card h1{

font-size:34px;

}

.basic-card p{

margin-top:10px;

color:var(--yellow);

font-size:18px;

font-weight:600;

}
.stats-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:18px;

}

.stat{

background:var(--card);

padding:22px;

border-radius:18px;

text-align:center;

border:1px solid var(--border);

transition:.3s;

}

.stat:hover{

border-color:var(--yellow);

transform:translateY(-5px);

}

.stat h3{

font-size:14px;

color:var(--gray);

margin-bottom:12px;

}

.stat p{

font-size:28px;

font-weight:700;

color:var(--yellow);

}
.report{

margin-top:35px;

background:var(--card);

padding:30px;

border-radius:20px;

border:1px solid var(--border);

}

.report h2{

margin-bottom:25px;

}

textarea{

width:100%;

height:220px;

resize:none;

background:#111;

border:1px solid var(--border);

border-radius:15px;

padding:20px;

color:white;

font-size:15px;

font-family:Inter;

outline:none;

}

textarea:focus{

border-color:var(--yellow);

}

.report button{

margin-top:20px;

height:55px;

padding:0 35px;

border:none;

background:var(--yellow);

font-size:16px;

font-weight:700;

border-radius:14px;

cursor:pointer;

transition:.3s;

}

.report button:hover{

transform:scale(1.03);

}
@media(max-width:900px){

.profile{

grid-template-columns:1fr;

}

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:550px){

.stats-grid{

grid-template-columns:1fr;

}

.basic-card h1{

font-size:26px;

}

}
